/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Datatype:wdth,wght@50..150,100..900&display=swap');

:root {
    --main-color: darkgreen;
    --sub-color: #4caf50;
}

/*Styling scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: var(--sub-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--sub-color);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}

* {
    font-family: "Poppins", sans-serif;
}

/*Put default css from assignment module 1*/

#profile img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
}

.datatype-font-regular {
    font-family: "Datatype", monospace;
    font-weight: 400;
}

.datatype-font-bold {
    font-family: "Datatype", monospace;
    font-weight: 700;
}

.bitcount-font-bold {
    font-family: "Bitcount Prop Double", sans-serif;
    font-weight: 700;
}

.bitcount-font-regular {
    font-family: "Bitcount Prop Double", sans-serif;
    font-weight: 400;
}

/*Hero Section*/

#hero {
    background-image: url("pictures/hero_image_green.png");
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

/*Projects List*/
#project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.btn-list {
    display: flex;
    gap: 8px;
}

#welcome_greet {
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid var(--main-color);
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

.fade {
    animation: fadeTransition 0.5s ease-in-out;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--main-color);
    }
}

@keyframes fadeTransition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Tablet*/
@media screen and (max-width: 768px) {
    #hero {
        height: auto;
        min-height: 350px;
    }

    #project-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .btn-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    #welcome_greet {
        white-space: normal;
        overflow: hidden;
    }
}

/*Smartphone*/
@media screen and (max-width: 480px) {
    #project-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    #welcome_greet {
        white-space: normal;
    }
}